<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <div th:replace="/fragments/head"></div>
  <title>Chat</title>
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/chat.css}">
  <link th:href="@{/css/tabulator_bootstrap5.css}" rel="stylesheet">
</head>
<body>
<div class="app">
  <header class="sticky-top">
    <!--/*@thymesVar id="user" type="com.hoanglinhplus.CareerSocialNetwork.dto.user.UserCreationDTO"*/-->
    <div th:if="${user}">
      <div th:replace="~{/fragments/navigation::navbar(${user})}"></div>
    </div>
    <div th:unless="${user}">
      <div th:replace="/fragments/navigation"></div>
    </div>
  </header>
  <div>
    <div class="container">
      <div class="container mt-1">
        <div class="row clearfix">
          <div class="col-lg-12">
            <div class="card chat-app">
              <div id="plist" class="people-list">
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="fa fa-search"></i>
                  </div>
                  <input type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0">
                  <li th:each="conversation : ${conversations}" class="clearfix conversation"
                      th:data-conversation-id="${conversation.getConversationId()}">
                    <div th:each="participant: ${conversation.getParticipants()}">
                      <div th:if="${!participant.getUserId().equals(user.getUserId())}">
                        <img class="avatar" th:src="${participant.getAvatar()}" alt="avatar">
                        <div class="d-flex flex-column">
                          <div class="about d-flex">
                            <div class="username" th:text="${participant.getUsername()}"></div>
                            <span class="dropdown ms-auto d-inline-block">
                              <button class="btn btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i>
                              </button>
                              <div class="dropdown-menu" style="">
                                <ul>
                                <li class="dropdown-item btn-delete-conversation" th:data-conversation-id="${conversation.getConversationId()}">Delete</li>
                                </ul>
                              </div>
                            </span>
                          </div>
                          <div class="notification invisible">
                            <i class="fa-solid fa-bell text-danger"></i>
                            <span><span class="number-of-messages">0</span> new message</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="chat">
                <div class="chat-header clearfix">
                  <div class="row">
                    <div class="col-lg-6">
                      <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                        <img id="targetUserAvatar" src="https://bootdey.com/img/Content/avatar/avatar2.png"
                             alt="avatar">
                      </a>
                      <div class="chat-about">
                        <h6 id="targetUserName" class="m-b-0">Username</h6>
                      </div>
                    </div>
                    <div class="col-lg-6 hidden-sm text-right d-flex justify-content-end">
                      <input type="file" hidden id="attachmentFile" multiple>
                      <label for="attachmentFile">
                        <span href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-image"></i>
                        </span>
                      </label>
                      <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                      <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>

                    </div>
                  </div>
                </div>
                <div class="chat-history">
                  <ul class="m-b-0" id="chatHistoryWrapper">

                  </ul>
                </div>
                <div class="chat-message clearfix">
                  <div class="input-group mb-0">
                    <div class="input-group-text" id="btnSend">
                      <i class="fas fa-paper-plane"></i>
                    </div>
                    <input type="text" class="form-control" id="inputMessage" placeholder="Enter text here...">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav-mobile list-style-none">
      <li class="top-link">
        <div class="btn rounded-circle btn-danger shadow" onclick="window.scrollTo({top:0})">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
  <div id="userIdWrapper" th:data-user-id="${user.getUserId()}"></div>
  <div th:replace="/fragments/components/toast"></div>
  <div th:replace="/auth/login"></div>
  <script type="module" src="/js/site/home.js"></script>
  <script type="module" src="/js/login.js"></script>
  <script type="module" src="/js/chat/chat.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
          integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
</body>
</html>


















