<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <div th:replace="/fragments/head"></div>
  <title>Applications</title>
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link th:href="@{/css/tabulator_bootstrap5.css}" rel="stylesheet">
  <link href="https://unpkg.com/tabulator-tables@5.4.2/dist/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.2/dist/js/tabulator.min.js"></script>
</head>
<body>
<div class="app">
  <header class="sticky-top">
    <!--/*@thymesVar id="user" type="com.hoanglinhplus.CareerSocialNetwork.dto.user.UserCreationDTO"*/-->
    <div th:if="${user}">
      <div th:replace="~{/fragments/navigation::navbar(${user})}"></div>
    </div>
    <div th:unless="${user}">
      <div th:replace="/fragments/navigation"></div>
    </div>
  </header>
  <div class="main px-4">
    <div class="sidebar overflow-auto pt-2 pb-5">
      <div class="px-3 mt-3 ">
        <div class="position-sticky bg-white p-3 rounded" style="top: 10px;">
          <h4>Job</h4>
          <div class="">
            <img id="companyLogoPreview" style="width: 128px;height: 128px" class="img-thumbnail" th:src="${job.getImage()}" alt="">
            <h3 id="companyNamePreview" th:text="${job.getTitle()}">Job Title</h3>
            <p id="companyTagLinePreview" th:text="${job.getLocation()}">Job Location</p>
            <h5 id="companyIndustryPreview" th:text="${job.getEmploymentType().getName()}">getEmploymentType</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="posts px-4">
        <div class="text-center">
          <h1 class="mb-4">Job Applications</h1>
          <a th:href="'/company/'+${job.getCompany().getCompanyId()}" class="btn btn-primary">New Job</a>
        </div>
        <div class="mt-4 mx-1 d-flex align-items-center">
          <!--            <select class="form-select-sm mx-2" aria-label="Select Action" id="selectAction">-->
          <!--              <option selected value="">&#45;&#45;Select Action&#45;&#45;</option>-->
          <!--              <option value="delete">Delete</option>-->
          <!--            </select>-->
          <button class="btn btn-sm btn-primary btn-danger" id="btnSubmitAll" >delete</button>
        </div>
        <div class="p-2">
          <div id="companyTable"></div>
        </div>
        <!-- modal delete -->
        <div class="modal fade" id="deleteCompanyModal" tabindex="-1" aria-labelledby="deleteCompanyModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Do you sure want to delete ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btnDeletePost">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <!--  modal valid form  -->
        <div class="modal fade" tabindex="-1" id="modalShowAnswers">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Answers </h5>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="col-xl-12">
        <div th:replace="/fragments/footer"></div>
      </footer>
    </div>
  </div>
  <ul class="nav-mobile list-style-none">
    <li class="top-link">
      <div class="btn rounded-circle btn-danger shadow" onclick="window.scrollTo({top:0})">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </div>
    </li>
  </ul>
</div>
<div id="jobIdWrapper" th:data-job-id="${job.getJobId()}"></div>
<div th:replace="/fragments/components/toast"></div>
<div th:replace="/auth/login"></div>
<script type="module" src="/js/home.js"></script>
<script type="module"  src="/js/login.js"></script>
<script type="module" src="/js/application/GetApplications.js"></script>
</body>
</html>