<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <div th:replace="/fragments/head"></div>
  <title>Jobs</title>
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link th:href="@{/css/tabulator_bootstrap5.css}" rel="stylesheet">
  <link href="https://unpkg.com/tabulator-tables@5.4.2/dist/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.2/dist/js/tabulator.min.js"></script>
</head>
<body>
  <div class="app">
    <header class="sticky-top">
      <!--/*@thymesVar id="user" type="com.hoanglinhplus.CareerSocialNetwork.dto.user.UserCreationDTO"*/-->
      <div th:if="${user}">
        <div th:replace="~{/fragments/navigation::navbar(${user})}"></div>
      </div>
      <div th:unless="${user}">
        <div th:replace="/fragments/navigation"></div>
      </div>
    </header>
    <div class="main px-4">
      <div th:replace="/fragments/me_navigation::me_navigation('COMPANIES', ${meStatistics})"></div>
      <div class="content">
        <div class="posts px-4">
          <div class="text-center">
            <h1 class="mb-4">My Companies</h1>
            <a href="/me/company/trash" class="btn btn-warning">My trash</a>
            <a href="/company/create" class="btn btn-primary">New Company</a>
          </div>
          <div class="mt-4 mx-1 d-flex align-items-center">
<!--            <select class="form-select-sm mx-2" aria-label="Select Action" id="selectAction">-->
<!--              <option selected value="">&#45;&#45;Select Action&#45;&#45;</option>-->
<!--              <option value="delete">Delete</option>-->
<!--            </select>-->
            <button class="btn btn-sm btn-primary btn-danger" id="btnSubmitAll" >
              <i class="fa-solid fa-trash"></i>
              delete
            </button>
          </div>
          <div class="p-2">
            <div id="companyTable"></div>
          </div>
          <!-- modal delete -->
          <div class="modal fade" id="deleteCompanyModal" tabindex="-1" aria-labelledby="deleteCompanyModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Do you sure want to delete ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" id="btnDeletePost">Delete</button>
                </div>
              </div>
            </div>
          </div>
          <!--  modal valid form  -->
          <div class="modal fade" tabindex="-1" id="companyUserRolesModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Company User Role Table</h5>
                </div>
                <div class="modal-body">
                  <div class="d-flex row gap-0">
                    <div class="col-3">
                      <button class="btn btn-primary w-100" data-bs-toggle="collapse" data-bs-target="#collapseAddUserRole">
                        <i class="fa-solid fa-plus"></i>
                        <span>Add User Role</span>
                      </button>
                      <button class="btn btn-danger w-100 mt-2" data-bs-toggle="modal" data-bs-target="#deleteCompanyUserRoleModal">
                        <i class="fa-solid fa-trash"></i>
                        <span>Delete User Role</span>
                      </button>
                    </div>
                    <div class="col-9">
                      <div>
                        <div class="collapse collapse-horizontal" id="collapseAddUserRole" >
                          <div class="card card-body">
                            <form method="get" class="d-flex" id="addCompanyUserRoleForm">
                             <div class="d-flex input-group">
                               <button class="btn btn-outline-success input-group-append" type="submit"><i class="fas fa-user" aria-hidden="true"></i></button>
                               <div class="d-flex input-search-group" >
                                 <input type="hidden" name="userId" id="userIdInput">
                                 <input class="form-control" id="searchUserInput" type="search"  placeholder="username" aria-label="user">
                                 <div class="list-group auto-complete-search" id="autocompleteSearchUser">
                                 </div>
                               </div>
                             </div>
                              <div class="d-flex input-group">
                                <button class="btn btn-outline-success input-group-append" type="submit"><i class="fas fa-shield" aria-hidden="true"></i></button>
                                <div class="d-flex input-search-group">
                                  <select name="companyRoleId" class="form-select" id="">
                                    <option value="1">CREATOR</option>
                                    <option value="2">CEO</option>
                                    <option value="3">Director</option>
                                    <option value="4">HR</option>
                                    <option value="5">STAFF</option>
                                  </select>
                                  </div>
                                </div>
                                <button class="btn btn-outline-success">Submit</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3" id="companyUserRolesTable"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="col-xl-12">
          <div th:replace="/fragments/footer"></div>
        </footer>
      </div>
    </div>
    <ul class="nav-mobile list-style-none">
      <li class="top-link">
        <div class="btn rounded-circle btn-danger shadow" onclick="window.scrollTo({top:0})">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal fade" id="deleteCompanyUserRoleModal" tabindex="-1" aria-labelledby="deleteCompanyUserRoleModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Do you sure want to delete ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="btnDeleteCompanyUserRole">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="/fragments/components/toast"></div>
  <div th:replace="/auth/login"></div>
  <script type="module" src="/js/site/home.js"></script>
  <script type="module"  src="/js/login.js"></script>
  <script type="module" src="/js/me/companies.js"></script>
</body>
</html>