<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <div th:replace="/fragments/head"></div>
  <title>User</title>
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>
  <div class="app">
    <header class="sticky-top">
      <!--/*@thymesVar id="user" type="com.hoanglinhplus.CareerSocialNetwork.dto.user.UserCreationDTO"*/-->
      <div th:if="${user}">
        <div th:replace="~{/fragments/navigation::navbar(${user})}"></div>
      </div>
      <div th:unless="${user}">
        <div th:replace="/fragments/navigation"></div>
      </div>
    </header>
    <div class="main">
      <div class="profile-wrapper">
        <!--/*@thymesVar id="company" type="com.hoanglinhplus.CareerSocialNetwork.models.Company"*/-->
        <div class="profile">
          <div class="profile-header rounded p-3 shadow">
            <div class="profile-header__top">
              <div class="p-2 profile-header__avatar rounded-circle">
                <div class="icon-128" th:style="'background-image: url(\''+${targetUser.getAvatar()}+'\')'"></div>
              </div>
            </div>
            <div class="profile-header__actions d-flex">
              <!--/*@thymesVar id="isFollowed" type="java.lang.Boolean"*/-->
<!--              <button th:classappend="'btn ms-auto'" th:class="${isFollowed} == true?'btn-secondary':'btn-primary'" id="btnFollow" th:data-action="${isFollowed}?-->
<!--              'unfollow':'follow'" th:data-company-id="${company.getCompanyId()}" th:text="${isFollowed}?'unfollow':'follow'"></button>-->
              <button  class="btn btn-success ms-auto">Connect</button>
            </div>
            <div class="profile-header__detail">
              <h1 class="text-center" th:text="${targetUser.getUsername()}"></h1>
              </h5>
              <div class="row">
                <div class="col-3 text-center">
                  <i class="fas fa-cake-candles"></i>
                  <span th:text="${#dates.format(targetUser.getDob(), 'dd/MM/yyyy HH:mm')}"></span>
                </div>
                <div class="col-3 text-center">
                  <i class="fas fa-envelope"></i>
                  <th:block th:text="${targetUser.getEmail()}"></th:block>
                </div>
                <div class="col-3 text-center">
                  <i class="fas fa-location-dot"></i>
                   <th:block th:text="${targetUser.getAddress()}"></th:block>
                </div>
                <div class="col-3 text-center">
                  <i class="far fa-calendar-plus"></i>
                  Joined -  <th:block th:text="${#dates.format(targetUser.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></th:block>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-2">
            <div class="row g-2">
              <div class="col-3">
                <div class="p-2 shadow bg-white rounded">
                  <h3 class="text-center">About</h3>
<!--                  <div>-->
<!--                    <i class="fas fa-file-alt"></i>-->
<!--                    <span th:text="${companyStatistics.getAmountOfPublishedJobs()}"> </span>-->
<!--                    Jobs published-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <i class="fas fa-comment"></i>-->
<!--                    <span th:text="${companyStatistics.getAmountOfFollowers()}"></span>-->
<!--                    Amount Of Followers-->
<!--                  </div>-->
                  <p class="text-center" th:text="${targetUser.getBiography()}">biography</p>
                </div>
              </div>
              <div class="col-9">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">Educations</h5>
                  </div>
                  <div  class="card-body">
                    <p th:if="${targetUser.getEducations().size() == 0}"> No Education</p>
                    <ul class="list-group">
                      <li th:each="education : ${targetUser.getEducations()}" class="list-group-item">
                        <div class="d-flex">
                          <i class="fa fa-graduation-cap"></i>
                          <h5 class="card-title" th:text="${education.getSchoolName()}"></h5>
                        </div>
                        <div>
                          <i class="far fa-calendar-alt"></i>
                          <span th:text="${#dates.format(education.getStartDate(), 'MM/yyyy')}" >Start Date</span>
                          -
                          <span th:text="${#dates.format(education.getEndDate(), 'MM/yyyy')}" >End Date</span>
                        </div>
                        <div>
                          <i class="fa-solid fa-star"></i>
                          <span th:text="${education.getGrade()}">3.38</span>/4
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card mt-3">
                  <div class="card-header">
                    <h5 class="card-title">Curriculumn Vitae</h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text" th:text="'This is the CV Of '+${targetUser.getUsername()}"></p>
                    <a th:href="${targetUser.getCvUrl()}" class="btn btn-primary">Go To CV</a>
                  </div>
                </div>
                <div class="card mt-3">
                  <div class="card-header">
                    <h5 class="card-title">Skills</h5>
                  </div>
                  <div class="card-body">
                    <a th:each="skill: ${user.getUserSkills()}" th:href="'/skill/'+${skill.getSkillId()}">
                      <span class="badge bg-info p-2 mx-1" th:text="${skill.getName()}">
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav-mobile list-style-none">
      <li class="top-link">
        <div class="btn rounded-circle btn-danger shadow" onclick="window.scrollTo({top:0})">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>
      </li>
    </ul>
  </div>
  <div th:replace="~{/auth/login}"></div>
  <script type="module" th:src="@{/js/home.js}"></script>
  <script type="module" th:src="@{/js/login.js}"></script>
  <script type="module" th:src="@{/js/user/GetUser.js}"></script>
</body>
</html>