.profile-wrapper {
  background: linear-gradient(180deg, #0093E9 8rem, transparent 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: #0093E9;*/
  /*background-image: linear-gradient(160deg,  0%, #80D0C7 100%);*/
}

.profile {
  margin-top: 96px;
  width: 1024px;
}
.profile-header {
  background-color: white;
}
.profile-header__top {
  position: relative;
  display: flex;
  justify-content: center;
}
.profile-header__avatar {
  margin-top: -64px;
  background-color: #0093E9
}
