<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <div th:replace="/fragments/head"></div>
  <title>Edit Job</title>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/create_job.css}">
  <link rel="stylesheet" th:href="@{/css/custom_quill.css}">
</head>

<body>
<div class="app">
  <header class="sticky-top">
    <!--/*@thymesVar id="user" type="com.hoanglinhplus.CareerSocialNetwork.dto.user.UserCreationDTO"*/-->
    <div th:if="${user}">
      <div th:replace="~{/fragments/navigation::navbar(${user})}"></div>
    </div>
    <div th:unless="${user}">
      <div th:replace="/fragments/navigation"></div>
    </div>
  </header>
  <form method="post" id="editJobForm">
    <input type="hidden" name="jobId" id="jobIdWrapper"  th:value="${jobId}">
    <div class="sidebar overflow-auto p-2">
      <div class="mb-3" id="jobImageWrapper">
        <h4>Image</h4>
        <input type="file" name="postImage" hidden accept="image/*" id="postImage">
        <input type="hidden" name="image" id="imagePath">
        <label class="d-flex flex-column text-center" for="postImage" style="width: fit-content;">
          <img class="border-danger img-thumbnail post-image" id="displayJobImage" th:src="${job.getImage()}">
        </label>
      </div>
      <div class="mb-3">
        <h4 for="title">Tags</h4>
        <div type="text" name="tags" contenteditable="true" id="tags" class="form-control tags"
             placeholder="separate tags by space">
          <span th:each="tag: ${job.getTags()}" class="tag btn btn-sm btn-outline-info me-1 mb-1" contenteditable="false">
            <span th:text="${tag.getName()}"></span>
            <span class="text-danger">
              <i class="fas fa-times"></i>
            </span>
            <input type="hidden" name="tags.name" th:value="${tag.getName()}">
          </span>
        </div>
      </div>
      <div class="mb-3">
        <h4 class="btn-toggle" data-bs-toggle="collapse" data-bs-target="#categories" aria-expanded="true">
          Skills</h4>
        <div class="categories collpasing show" id="skills">
          <!--/*@thymesVar id="skill" type="com.hoanglinhplus.CareerSocialNetwork.models.Skill"*/-->
            <th:block th:each="skill : ${skills}" >
                <th:block >
                 <div>
                   <input type="checkbox" class="form-check-input skill-item" name="jobSkills.skillId" th:id="'skill'+${skill.getSkillId()} "
                          th:value="${skill.getSkillId()}">
                   <label th:for="'skill'+${skill.getSkillId()}" class="form-check-label" th:text="${skill.getName()}">
                   </label>
                 </div>
                </th:block>
            </th:block>
          </div>
        </div>
      <div class="mb-3">
        <h4 class="btn-toggle" data-bs-toggle="collapse" data-bs-target="#location" aria-expanded="true">
          Location</h4>
        <div class="locations collpasing show" id="location">
          <!--/*@thymesVar id="skills" type="com.hoanglinhplus.CareerSocialNetwork.models.Skill"*/-->
          <div class="form-group">
            <input list="locationData" class="form-control" name="location" autocomplete="off" th:value="${job.getLocation()}" />
            <datalist id="locationData">
              <option value="Ho Chi Minh">Ho Chi Minh</option>
              <option value="Ha Noi">Ha Noi</option>
              <option value="Can Tho">Can Tho</option>
              <option value="Da Nang">Da Nang</option>
              <option value="Other">other</option>
            </datalist>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="p-2">
        <div class="mb-3">
          <label for="title">
            <h4>Title: </h4>
          </label>
          <input type="text" name="title" th:value="${job.title}" id="title" class="form-control" required placeholder="input your title ...">
        </div>
        <div class="d-flex">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" >Salary Min and Max: </span>
            </div>
            <input  type="number" name="salaryMin" th:value="${job.getSalaryMin()}" id="salaryMin" min="0" class="form-control col-6" placeholder="input your min salary ...">
            <input type="number" name="salaryMax"  th:value="${job.getSalaryMax()}" id="salaryMax" max="99999999" class="form-control col-6" placeholder="input your max salary ...">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" >Start And End Date </span>
            </div>
            <input  type="date" name="startDate" th:value="${#dates.format(job.getStartDate(), 'yyyy-MM-dd')}" id="startDate" class="form-control col-6" placeholder="input job start date ...">
            <input type="date" name="endDate" th:value="${#dates.format(job.getEndDate(), 'yyyy-MM-dd')}" id="endDate" class="form-control col-6" placeholder="input job end date ...">
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Amount: </span>
          </div>
          <input  type="number" name="amount" th:value="${job.getAmount()}" id="amount" min="0" class="form-control col-6" placeholder="input your min salary ...">
          <div class="input-group-prepend">
            <span class="input-group-text">Experience:</span>
          </div>
          <input type="number" name="experience" th:value="${job.getExperience()}" id="experience" min="0" step="0.1" max="99999999" class="form-control col-6" placeholder="input your max salary ...">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Position: </span>
          </div>
          <select name="position.positionId" id="position" class="form-control col-4">
            <!--/*@thymesVar id="positions" type="java.util.List<com.hoanglinhplus.CareerSocialNetwork.models.Position>"*/-->
            <th:block th:each="position: ${positions}">
              <option th:value="${position.getPositionId()}" th:selected="${position.getPositionId().equals(job.getPosition().getPositionId())}" th:text="${position.getName()}"></option>
            </th:block>

          </select>
          <div class="input-group-prepend">
            <span class="input-group-text">WorkPlace:</span>
          </div>
          <select name="workPlace.workPlaceId" id="workPlace" class="form-control col-4">
            <!--/*@thymesVar id="workPlaces" type="java.util.List<com.hoanglinhplus.CareerSocialNetwork.models.WorkPlace>"*/-->
            <option th:each="workPlace: ${workPlaces}"
                    th:selected="${workPlace.getWorkPlaceId().equals(job.getWorkPlace().getWorkPlaceId())}"
                    th:value="${workPlace.getWorkPlaceId()}" th:text="${workPlace.getPlace()}"></option>
          </select>
          <div class="input-group-prepend">
            <span class="input-group-text">EmploymentType:</span>
          </div>
          <select name="employmentType.employmentTypeId" id="employmentType" class="form-control col-4">
            <!--/*@thymesVar id="workPlaces" type="java.util.List<com.hoanglinhplus.CareerSocialNetwork.models.EmploymentType>"*/-->
            <option th:each="employmentType: ${employmentTypes}"
                    th:selected="${employmentType.getEmploymentTypeId().equals(job.getEmploymentType().getEmploymentTypeId())}" th:value="${employmentType.getEmploymentTypeId()}" th:text="${employmentType.getName()}"></option>
          </select>
        </div>
        <div class="mb-3 ">
          <h4>Job Description:</h4>
          <div class="post-content bg-white">
            <div id="toolbar" class="ql-toolbar ql-snow">
                <span class="ql-formats">
                  <select class="ql-font"></select>
                  <select class="ql-size"></select>
                </span>
              <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
                </span>
              <span class="ql-formats">
                  <select class="ql-color"></select>
                  <select class="ql-background"></select>
                </span>
              <span class="ql-formats">
                  <button class="ql-script" value="sub"></button>
                  <button class="ql-script" value="super"></button>
                </span>
              <span class="ql-formats">
                  <button class="ql-header" value="1"></button>
                  <button class="ql-header" value="2"></button>
                  <button class="ql-blockquote"></button>
                  <button class="ql-code-block"></button>
                </span>
              <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <button class="ql-indent" value="-1"></button>
                  <button class="ql-indent" value="+1"></button>
                </span>
              <span class="ql-formats">
                  <button class="ql-direction" value="rtl"></button>
                  <select class="ql-align"></select>
                </span>
              <span class="ql-formats">
                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                  <button class="ql-video"></button>
                  <button class="ql-formula"></button>
                </span>
              <span class="ql-formats">
                  <button class="ql-clean"></button>
                </span>
            </div>
            <div id="editor" class="pb-3"></div>
            <input type="hidden" name="jobDescription" id="content">
          </div>
          <div class="btn-upload-wrapper p-2 bg-white w-100">
            <button class="btn btn-primary" id="btnUpdate">Update</button>
          </div>
        </div>
        <div th:replace="~{/fragments/footer}"></div>
      </div>
    </div>
  </form>
</div>
<ul class="nav-mobile list-style-none">
  <li class="top-link">
    <div class="btn rounded-circle btn-danger shadow" onclick="window.scrollTo({top:0})">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>
  </li>
</ul>
</div>
<div th:replace="~{/fragments/components/toast::toast}"></div>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datalist-css/dist/datalist-css.min.js"></script>
<script type="module" th:src="@{/js/job/EditJob.js}"></script>
</body>

</html>