<!DOCTYPE >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <div th:replace="/fragments/head"></div>
  <title>Answer The Question</title>
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body style="background-color: #f3f2ef">
<header class="sticky-top">
  <!--/*@thymesVar id="user" type="com.hoanglinhplus.CareerSocialNetwork.dto.user.UserCreationDTO"*/-->
  <div th:if="${user}">
    <div th:replace="~{/fragments/navigation::navbar(${user})}"></div>
  </div>
  <div th:unless="${user}">
    <div th:replace="/fragments/navigation"></div>
  </div>
</header>
<div class="">
  <header class="container-fluid shadow p-lg-4  bg-white">
    <div class="container">
<!--      <h4>-->
<!--        <i class="fa-solid fa-arrow-left"></i>-->
<!--        <span>back</span>-->
<!--      </h4>-->
      <div class="d-flex align-items-center">
        <img class="icon-32 rounded-0" th:src="@{/images/icons/answer.png}" alt="company">
        <h5 class="mx-3">
           2.2 Let's get started with a few answers about your job.
        </h5>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-6 p-3 bg-white mt-3 rounded">
        <form id="jobAnswersForm">
          <div th:each="answerQuestion : ${answerQuestions}" class="card">
            <div class="card-header">
            <label th:for="'inputAnswer'+${answerQuestion.getJobQueId()}"><h5 th:text="${answerQuestion.getContent()}"></h5></label>
            </div>
            <div class="card-body">
              <input type="hidden" th:name="'answerQuestionGroup'+${answerQuestion.getJobQueId()}+'.jobQueId'" th:value="${answerQuestion.getJobQueId()}">
              <input th:name="'answerQuestionGroup'+${answerQuestion.getJobQueId()}+'.answer'" th:id="'inputAnswer'+${answerQuestion.getJobQueId()}"
                     type="text" class="form-control" th:placeholder="${answerQuestion.getContent()}"
                     th:value="${answerQuestion.getAnswer()}"
              >
            </div>
          </div>
        </form>
          <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#answerModal">Submit Answer</button>
      </div>
      <div class="col-lg-6 px-3 mt-3 ">
        <div class="position-sticky bg-white p-3 rounded" style="top: 10px;">
          <h4>Job Review</h4>
          <div class="">
            <img id="jobImage" style="width: 128px;height: 128px" class="img-thumbnail" th:src="${job.getImage()}" alt="">
            <h3 id="jobTitle" th:text="${job.getTitle()}">Company Name</h3>
            <h6 id="companyNamePreview" ><i class="fas fa-building"></i>
              <span th:text="${company.getName()}"></span>
            </h6>
            <p id="jobWorkPlace" th:text="${job.getWorkPlace().getPlace()}">Tag Line</p>
            <h5 id="jobLocation" th:text="${job.getLocation()}">Industry</h5>
            <button class="btn btn-primary">+ Follow </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="answerModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Modal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p id="previewQuestionDelete">Are you sure with your answers?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="btnSubmitAnswers" class="btn btn-info btn-confirm-answer">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{/fragments/components/toast}"></div>
<div th:replace="/auth/login"></div>
<script type="module" th:src="@{/js/site/home.js}"></script>
<script type="module" src="/js/login.js"></script>
<script type="module" src="/js/common/common.js"></script>
<script type="module" th:src="@{/js/question_answer/CreateAnswers.js}"></script>
</body>
</html>